.resNamesContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  border-radius: 5px;
  padding:60px;
  border: 1px solid rgb(168, 168, 168);
  color: white;
  border: 1px solid gray;
 

  .restoranName {
    padding: 0 20px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 28px;
    letter-spacing: 2px;
    text-align: center;
    border: 1px solid #CBA984;
    cursor: pointer;
    background-color: white;
    color: black;
  }

  .activeResName {
    background-color: #CBA984;
    color: white;
  }
  
}

@media(max-width:800px) {
  .resNamesContent{
    gap: 1rem ;
    padding: 20px;

    .restoranName{
      width: 150px;
      height: 110px;
      font-size: 18px;
    }
  }
}


