.mainGallery {
  .galleryTitle {
    margin: 40px 0;
    .mainMenuTitle,
    p {
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-top: 10px;
    }

    p {
      font-size: 22px;
    }
  }

  .menuPage {
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url("https://images.unsplash.com/photo-1497644083578-611b798c60f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.403);
      z-index: 1;
    }

    .menu {
      display: flex;
      flex-direction: column;
      gap: 10px;
      z-index: 2;
      color: white;

      .img {
        padding: 0 180px;
        img {
          width: 100%;
        }
      }

      h1 {
        font-size: 45px;
      }

      p {
        font-size: 22px;
        letter-spacing: 1px;
        font-family: "Times New Roman", Times, serif;
        font-style: italic;
      }
    }
  }

  .imgBoxContent {
    display: flex;
    justify-content: center;
    align-items: center;

    .imgBox {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-flow: dense;
      gap: 20px;

     

      .img{
        position: relative;

        &::before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.263);
          transform: scale(1);
          transition: all .6s ease-in-out;
        }

        &:hover{
          cursor: pointer;
          &::before{
            transform: scale(0);
          }
        }
        
        img {
          width: 340px;
          height: 200px;
        }
      }
    }
  }

  @media (max-width: 1450px) {
    .imgBox {
      display: grid;
      grid-template-columns: repeat(2, 1fr) !important;

      img {
        width: 540px !important;
        height: 300px !important;
      }
    }
  }

  @media (max-width: 1150px) {
    .imgBox {
      display: grid;
      grid-template-columns: repeat(1, 1fr) !important;

     .img{

      &::before{
        transform: scale(0) !important;
      }
     
     }
     img {
      width: 700px !important;
      height: 300px !important;
      padding: 0 20px;
    }
    }
  }

  @media (max-width: 900px) {
    .menu {
      .img {
        padding: 0 190px;
      }
      h1 {
        font-size: 30px;
      }
    }
  }
  
  @media (max-width: 700px) {
    .imgBox {
      display: grid;
      grid-template-columns: repeat(1, 1fr) !important;

      img {
        width: 100% !important;
        height: 250px !important;
        padding: 0 20px;
      }
    }

    .galleryTitle {
      p {
        font-size: 18px;
        padding: 0 5px;
      }
    }
  }

  @media (max-width: 500px) {
    .menu {
      padding: 0 20px;
      .img {
        padding: 0 120px;
      }
      h1 {
        font-size: 30px;
      }
    }
  }
}
