.navbar {
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: transparent !important;
  padding-left: 60px;
  padding-right: 60px;

  .logo {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: transparent;
  }

  img {
    width: 100%;
    border-radius: 100%;
  }

  .navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 18px;
    color: white;

    .link {
      text-decoration: none;
      color: white;
      transition: all 0.3s ease-in-out;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        color: red;
      }
    }
  }

  .navActive {
    color: black !important;

    .link {
      color: black;
    }
  }
}

.navbarActive {
  background-color: rgb(246, 246, 246) !important;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 1000px) {
  .navbar {
    background-color: #f8f9fa !important;
    padding-left: 20px !important;
    padding-right: 20px !important;

    .navLink {
      color: black !important;

      .link {
        color: black;
      }
    }
  }
}
