.navbar{
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: transparent !important;
    padding-left:50px;
    padding-right:80px;
    img{
        width: 70px;
        border-radius: 100%;
    }

    .navLink{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        font-size: 18px;
        color: white;

        .link{
            text-decoration: none;
            color: white;
            transition: all .3s ease-in-out;
            &:hover{
                cursor: pointer;
                color: chocolate;
            }
        }
    }

.navActive{
    color: black !important;

    .link{
        color: black;
    }
}
}

.navbarActive{
    background-color: rgb(246, 246, 246) !important;
    transition: all .4s ease-in-out;
}


@media(max-width:1000px) {
    .navbar{
        background-color: #F8F9FA !important;

        .navLink{
            color: black !important;

            .link{
                color: black;
            }
        }
    }
}