.slider{
    position: relative;
    &::after{
        content: '';
        background-color: rgba(0, 0, 0, 0.401);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        pointer-events: none;
    }
  .sliderContent{
    width: 100%;

    button{
        margin-top: 20px;
        border: none;
        border-radius: 5px;
        padding: 8px 18px;
        background-color: red;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        border: 2px solid transparent;

        &:hover{
            background-color: transparent;
            border: 2px solid red;
        }
    }

    img{
        width: 100%;
        height: 93vh;
    }

    .firstBox{
        .sliderText{
            width: 420px;
            color: white;
            position: absolute;
            top: 40%;
            right: 12%;
            text-align: end;
            z-index: 2;
            
            h1{
                font-size: 28px;
            }
    
            h4{
                margin: 15px 0;
                font-size: 18px;
            }
    
           
            
        }
    }

    .secondBox{
        .sliderText{
            width: 500px;
            color: white;
            position: absolute;
            top: 40%;
            left: 12%;
            text-align: left;
            z-index: 2;
            
            h1{
                font-size: 26px;
            }
    
            h4{
                margin: 15px 0;
                font-size: 18px;
            }
        }
    }

    .thirdBox{
        .sliderText{
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 2;
            
            h1{
                font-size: 28px;
            }
    
            h4{
                margin: 15px 0;
                font-size: 18px;
            }
        }
    }
    
  }
  
    .rightBtn{
        z-index: 2;
        position: absolute;
        top:50%;
        right: 2%;
        font-size: 32px;
        color: white;
        transition: all .3s ease-in-out;

        &:hover{
            cursor: pointer;
            color: red;
        }
    }

    .leftBtn{
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 2%;
        font-size: 32px;
        color: white;
        transition: all .3s ease-in-out;

        &:hover{
            cursor: pointer;
            color: red;
        }
    }

    .sliderDots{
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        z-index: 1;

        .slider-dot{
            background-color: white;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            border: 2px solid red;
            padding: 2px;

            &:hover{
                cursor: pointer;
            }
        }

        .active{
            background-color: red;
        }
    }
}

@media (max-width:600px) {
    .slider{
        .sliderContent{
            button{
                padding: 6px 12px;
                font-weight: 500;
            }
            h1{
                font-size: 18px !important;
            }

            h4{
                font-size: 16px !important;
            }
            img{
                width: 100%;
                height: 500px;
                object-fit: cover;
            }

            .secondBox{
                .sliderText{
                    h4{
                        width: 300px;
                    }
                }
            }

            .thirdBox{
                .sliderText{
                    h1{
                        width: 400px !important;
                    }
                }
            }
        }
    }
}

  
